html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
h1 {
    color: navy;
    
}
#ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: rgb(31, 29, 29);
}

#li {
    float: left;
}

#a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

p.inset {
    border-style: inset;
}